
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('./Components/Assets/background2.jpg') no-repeat center center/cover;
  width: 100%;  
  height: 100%; }
